.paragrafo{
    
    
    color: blue;
    background-color: rgb(204, 170, 170);
}


*{
    margin: 0;
    padding: 0;
}
h2 {
    background-color: aquamarine;
}

.cabecalho {
    background-color: #424e61;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.lista-cabecalho{

    color: white;
}
.lista-itens{
    display: inline-block;
    margin: 0 16px;

}
.primeiraparte{
    background-image: linear-gradient(#424e61,#4EBFE9);
    height: 500px;
    color: white;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.pp{
    padding: 15px 0;
    font-size: 20px;
}
.sp{
    padding: 15px 0;
    font-size: 20px;
}
.texto{
    padding: 24px 0;
}
