.paragrafo{
    
    
    color: blue;
    background-color: rgb(204, 170, 170);
}


*{
    margin: 0;
    padding: 0;
}
h2 {
    background-color: aquamarine;
}

.cabecalho {
    background-color: #424e61;
    display: flex;
    justify-content: space-around;
    align-items: center;

}.lista-cabecalho{

    color: white;
}